html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
    list-style: none;
}


/*My styles*/







@media screen and (max-width: 70em) {
    #contacts ul {
        display: flex;
        flex-wrap: nowrap;
        /*justify-content: lef;*/
    }

    #contacts img {
        width: 100px;
    }

    footer {
        display: flex;
        position: absolute;
        bottom: 1%;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
        padding: 2%;
        box-sizing: border-box;
        /*overflow-x: hidden;*/
    }
    #languages {
        height: fit-content;
    }
    html, body{
        width: 100vw;
        /*overflow: auto;*/
    }
    body {
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*height: 100vh;*/
        background: url("assets/background.jpg") no-repeat fixed;
        background-size: 100% 100%;
        /*width: 100%;*/
    }


    main {
        display: none;
    }


    #name {
        font-size: 130%;
        margin-bottom: 5%;
    }

    #self-photo {
        border-radius: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }

    #header-content {
        bottom: -6%;
    }

    #hello {
        bottom: -25%;
    }

    .card {
        text-align: center;
        position: absolute;

        margin: auto;
        left: 0;
        right: 0;


        width: fit-content;
        height: fit-content;

        padding: 3%;

        border-radius: 57px;
        color: #cdeafb;
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        transition: .5s ease;
    }


    body > header {
        width: 100%;
        padding-top: 4%;
        position: relative;
        font-size: 300%;
    }
}
