body > * {
    /*text-align: center;*/
}

#self-photo {
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#header-content {
    /*border: solid blue;*/
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    font-size: 40px;
    color: aqua;
}

#header-content {
    width: 300px;
    height: 180px;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    background: rgba(255,255,255,0.1);
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    transition: .5s ease;
}


body > header {
    position: relative;
}

ul, ol {
    list-style: none;
}

/*#name {*/
/*    color: red;*/
/*    text-align: center;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/


/*#skills div {*/
/*    !*text-align: center;*!*/
/*}*/
/*#skills div > ul {*/
/*    display: flex;*/
/*    !*flex-direction: column;*!*/
/*}*/

/*#skills div > ul > li {*/
/*    margin: 5px;*/
/*    padding: 5px;*/
/*}*/

/*ul, ol {*/
/*    list-style-type: none;*/
/*}*/

/*img {*/
/*    !*border-radius: 40%;*!*/
/*    !*border: 1px solid #5FB9A5;*!*/
/*    max-width: 8%;*/
/*}*/

/*nav {*/
/*    width: auto;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*#main-menu {*/
/*    display: none;*/
/*    list-style-type: none;*/
/*    background: #AD2232;*/
/*    padding: 2% 0 2% 0;*/
/*    width: 25rem;*/
/*    text-align: center;*/
/*}*/

/*nav:hover #main-menu {*/
/*    display: block;*/
/*}*/
/*nav:hover #menu-icon {*/
/*    display: none;*/
/*}*/

/*#menu-icon {*/
/*    font-size:30px;*/
/*    display: block;*/
/*    border: 1px solid;*/
/*    width: 1em;*/
/*    height: 1em;*/
/*    text-align: center;*/
/*    border-radius: 50%;*/
/*    margin:2em;*/
/*}*/

/*#main-menu a {*/
/*    color: #5FB9A5;*/
/*    text-decoration: none;*/
/*}*/

/*#main-menu li {*/
/*    margin: 3%;*/
/*    font-family: "American Typewriter", "Al Nile", Serif, fantasy;*/
/*    font-size: 3rem;*/
/*}*/

/*#main-menu, #menu-icon {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    margin: 0;*/
/*}*/

/*#main-menu a:hover {*/
/*    background-color: #ddd;*/
/*    color: black;*/
/*}*/


/*body {*/
/*    font-size: 2rem;*/
/*    font-family: "Arial Rounded MT Bold", serif;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    background: url("assets/cool-background.png") fixed no-repeat;*/
/*    background-size: cover;*/
/*}*/


/*header {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    flex-direction: column;*/
/*    margin: auto;*/
/*    min-height: 738px;*/
/*    max-width: 960px;*/
/*    color: rebeccapurple;*/
/*    background: url("assets/photo.jpg") center no-repeat;*/
/*    background-size: auto;*/
/*    text-align: center;*/
/*}*/

/*#contacts ul {*/
/*    list-style-type: none;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*#contacts ul li{*/
/*    margin: 1%;*/
/*}*/

/*@media screen and (min-width: 1400px) {*/
/*    header {*/
/*        float: left;*/
/*        width: 960px;*/
/*        margin-right: 1%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 400px) {*/
/*    header {*/
/*        width: 100vw;*/
/*    }*/
/*}*/
